.bottom-nav{

position:fixed;

bottom:0;

left:0;

right:0;

height:70px;

background:#fff;

display:flex;

justify-content:space-around;

align-items:center;

box-shadow:0 -3px 15px rgba(0,0,0,.08);

z-index:999;

}

.nav-item{

display:flex;

flex-direction:column;

align-items:center;

text-decoration:none;

color:#777;

font-size:12px;

font-weight:600;

}

.nav-item span{

margin-top:4px;

}

.active{

color:#2563eb;

}