<nav class="bottom-nav">

    <a href="dashboard.html" class="nav-item">

        <span>🏠</span>

        <small>Home</small>

    </a>

    <a href="scan.html" class="nav-item">

        <span>📷</span>

        <small>Scan</small>

    </a>

    <a href="assistant.html" class="nav-item">

        <span>🤖</span>

        <small>AI</small>

    </a>

    <a href="history.html" class="nav-item">

        <span>📜</span>

        <small>History</small>

    </a>

    <a href="profile.html" class="nav-item">

        <span>👤</span>

        <small>Profile</small>

    </a>

</nav>